    body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .brand {
          padding-right: 0;
          padding-left: 0;
          margin-left: 20px;
          float: right;
          font-weight: bold;
          color: #000;         
      }
      .search-query{
          margin-right: 25px;
      }
    
      .menu-cattagory{
          margin-top: 50px;
          display: inline-block;
          position: relative;
          width: 300px;
          
      }
      .menu-oder{
          margin-top: 5px;
          display: inline-block;
          position: relative;
          width: 300px;
      }
      
      
      .fb_iframe_widget {
          margin-top: 20px;
          position: relative;
          display: -moz-inline-block;
          display: inline-block;
      }
      #service_why {

          background-position: 195px;
          padding: 17px 10px 10px 20px;
          height: 170px;
          line-height: 25px;
      }
      .flash, .flash_minus_shadow {
          position: relative;
          top: -5px;
      }
      .bord {
          border:1px solid #006dcc;
          width: 970px;
          height: 30px;
          margin: 5px 5px 5px 0;
          padding-bottom: 10px;
          background-color: #006dcc;
      }
      .bord-head{
          color: white;
      }
      .title {
          border:1px solid #006dcc;
          width: 298px;
          height: 29px;
          margin: 0 0 0 0;
          padding-bottom: 10px;
          background-color: #006dcc;
      }
      .shop-new{
         
          padding-bottom: 10px;
          padding-top: 10px;
          
      }
      .text-center{
          padding-left: 150px;
      }
  
   